<!DOCTYPE html>
<html>
  <head>
    <title>Minitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
 <nav class="light-blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">スロッター</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
           
           
            <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><a href="/tweets/new">投稿する</a></li>
            
            <% else %>
            <li><a href="/users/sign_in"><% link_to 'ログイン', new_user_session_path, class: 'post' %>ログイン</a></li>
            <li><a href="/users/sign_up"><% link_to '新規登録', new_user_registration_path, class: 'get'%>新規登録</a></li>
            <% end %>
          
          </ul>
        </div>
      </nav>
      <!DOCTYPE html>
<html>
  <title>スロッター</title>
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</header>

  <body>
    <%= yield %>
  </body>
</html>
